:root {
  --white: #fff;
  --primary:#eca935;  
  --primary2:#d68802;
}

html {
  font-size: 62.5%;
}

body{
  font-family: "Outfit", sans-serif;
  background-image: url("/bg_clima.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh ;
  font-size: 2rem;
}